<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>About page</title>
  </head>
  <body>
    <div class="header-line">
      <h2>Benjamin Lacombe</h2>
      <nav class="menu">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/photo-gallery">Photo gallery</a>
      </nav>
    </div>
    <div id="about-page">
      <div id="about">
        <h2>Sobre el autor</h2>

        <p>
          Benjamín Lacombe es un ilustrador y autor francés nacido el 12 de
          julio de 1982 en París, donde actualmente vive y trabaja. Sus
          ilustraciones se destacan por un estilo caricaturesco que denotan
          elegancia, fragilidad y melancolía.<br> En 2001 se unió a la Escuela
          Nacional de Artes Decorativas (ENSAD), en París, donde continuó su
          formación artística. Durante sus estudios, Benjamín trabajó en
          publicidad y animación y, con sólo 19 años, edita su primer cómic. Lo
          que en un principio fue su proyecto de fin de carrera, pasó a ser su
          primer libro para niños: Cereza Guinda, el álbum que él mismo escribió
          e ilustró fue publicado por Les ƒditions du Seui en marzo de 2006. Al
          año siguiente, Benjamín se convirtió en una joven celebridad del mundo
          editorial desde su exitoso lanzamiento en Estados Unidos por el sello
          Walker Books y gracias a la nominación de la prestigiosa Revista Time
          que ubicó a Cereza Guinda dentro de los 10 mejores libros para niños
          publicados en el año 2007.<br> Desde entonces, escribió e ilustró muchos
          libros abordando temas tales como: la infancia, la melancolía y la
          diferencia. Para ello, ha utilizado técnicas variadas como el gouache,
          el lápiz y el grafito, las acuarelas y la pintura al óleo.
        </p>
      </div>
      <div id="img-about">
        <img src="img/imagen-about.jpg" alt="autor-image" height="800px;" />
      </div>
    </div>
  </body>
</html>
